 <h1>pagina3</h1>
 <p>son los alumnos: <%= @users %></p>

 <script type="text/javascript">
 	
 	i=1;
 	$('body').click(function() {
   
   		if (i==2){
 		console.log("hiziste dos clicks");

 		$(document.body).css("background-image","url('http://deanimalia.com/images/full/gatos/azulruso4.jpg')")

		$( ".backstretch" ).remove(); // remover el fondo actual

 	}
   		console.log("hize un click " + i)
   		i++; //contador de clicks
	});

 </script>